.inputWrapper input {
    border: none;
    width: 90%;
    font-size: 120%;
}

.inputWrapper textarea {
    border: none;
    width: 90%;
    font-size: 120%;
}

.inputWrapper {
    margin: 10px;
    padding: 3px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 130%;
    background-color: white;
}

.inputWrapper label {
    color: Teal;
    font-size: 60%;
    width: 50%;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-right: 10px;
    background-color: Gainsboro;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.inputWrapper label i {
    font-size: 100%;
}
