body {
    background-color: #FFFFFF;
    color: #333333;
}

body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: DarkSlateGray;
}

header {
    height: 40px;
    background-color: Coral;
    background-repeat: repeat-x;
}

a {
    color: #000000;
}

a:visited {
    color: #666666;
}

.content {
    width: 95%;
    margin: auto;
}
